<!DOCTYPE html>
<html>

<head>
  <title>LiveFlow</title>
  {% load static %}
  <link rel="stylesheet" href="{%static 'css/home.css'%}"/>
</head>

<body>
  <!-- Header -->
  <header>
      <div id="header">
        <img src="{%static 'logo1.png'%}" width=220px height=110px>
        <a href="http://127.0.0.1:8000/playground/contact" class="btn">Contact Us</a>
       
    </div>
  </header>
  <section class="hero">
    <div class="container">
    <div class="text-with-bg">
    <img src="{%static 'sample2.png'%}" width=1200px height=250px>
      <div class="hero-content">
        <h1 class="hero-title">Experience LiveFlow</h1>
        <p class="hero-subtitle">The ultimate online streaming platform! With cutting-edge features and real-time content, LiveFlow lets you experience videos like never before. Join now and elevate your streaming to the next level!</p>
        <a href="http://127.0.0.1:8000/playground/online" class="btn">Try it out!</a>
      </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <h2 class="section-title">Features of LiveFlow</h2>
      <div class="feature-item">
        <table class="feature-table">
          <tr>
            <td class="feature-icon">
              <img src="{%static 'vid.png'%}" alt="Bite-Sized Content">
            </td>
            <td class="feature-description">
              <h3 class="feature-title">Bite-Sized Content</h3>
              <p>Bite-sized videos that are perfect for quick, on-the-go viewing.</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="feature-item">
        <table class="feature-table">
          <tr>
            <td class="feature-icon">
              <img src="{%static 'thumbs.png'%}" alt="Diverse Content Library">
            </td>
            <td class="feature-description">
              <h3 class="feature-title">Diverse Content Library</h3>
              <p>Wide-ranging genres and topics to cater to various interests and preferences.</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="feature-item">
        <table class="feature-table">
          <tr>
            <td class="feature-icon">
              <img src="{%static 'share3.png'%}" alt="Seamless Sharing">
            </td>
            <td class="feature-description">
              <h3 class="feature-title">Seamless Sharing</h3>
              <p>Easy sharing options for users to quickly share videos across social media platforms for increased engagement.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2023 LiveFlow Blog. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>


